body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #000000;
    cursor: crosshair;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.rotate {
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -moz-transform: rotate(-90deg);   /* Firefox */
    -ms-transform: rotate(-90deg);   /* IE 9 */
    -o-transform: rotate(-90deg);   /* Opera */
    transform: rotate(-90deg);
}

.d-none {
    display: none !important;
}
.debug {
    display: none;
}

#app {
    position: relative;
    margin: 0;
    height: 100vw;
    width: 100vh;
    min-width: 600px;
    min-height: 800px;
}

video#camera-feed {
    position: absolute;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
    z-index: 0;
    top: 17%;
}
#video-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 0.56;
}

#overlay {
    position: relative;
    height: 100vw;
    width: 100vh;
    min-width: 600px;
    min-height: 800px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.state {
    display: none;
}

.state.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

#state-display {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: red;
    padding: 5px;
    border-radius: 5px;
}

#backend-connection-state {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: red;
    padding: 5px;
    border-radius: 5px;
}

#qr {
    margin-top: 25px;
    margin-right: 55px;
    display: flex;
    align-items: center;
}

#qrCode {
    width: 300px;
    height: 300px;
    background-color: white;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

#start-button  {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 50%;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  text-transform: uppercase;
  font-size: 150px;
  justify-content: center;
  line-height: 1em;
  width: 750px;
  height: 750px;
  padding: 19px 24px;
  text-decoration: none;
  white-space: nowrap;
  cursor: crosshair;
}

#done-button  {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 5%;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    text-transform: uppercase;
    font-size: 70px;
    justify-content: center;
    line-height: 1em;
    width: 100%;
    height: 300px;
    padding: 19px 24px;
    text-decoration: none;
    white-space: nowrap;
    cursor: crosshair;
}

#flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 241, 224);
    opacity: 0;
    transition: opacity 0.5s;
}

.top {
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
}

.top h1 {
    color: white;
    font-size: 120px;
    margin: 0px;
}

.top h2 {
    color: white;
    font-size: 30px;
    margin: 0px;
}

#countdown-timer {
    margin-top: 50px !important;
}

.review-top {
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.review-top h1 {
    color: white;
    font-size: 120px;
    margin: 0px;
}

.review-top  h2 {
    color: white;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 200px;
}

.bottom {
    bottom: 0;
    position: fixed;
}

.done-bottom {
    bottom: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.fancyFont {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.radiate-btn {
    animation: shadow-pulse 1s infinite;
    background-color: #f1f1f1;
    color: #ffffff!important;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px #5B42F3fd;
  }
  100% {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
  }
}

.play_circle, .check {
    font-size: 75px !important;
}

#composite-photo {
    position: absolute;
    object-fit: cover;
    z-index: 2;
    width : 100%;
}

#composite-photo > img {
    width : 65%;
    height: auto; /*to preserve the aspect ratio of the image*/
    min-width: 650px;
}

#photo-instructions {
    color: white;
    font-size: 70px;
    margin-top: 50px;
}

.photo-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 200px;
}

#photo-remainder-counter {
    color: white;
    font-size: 120px;
}
.attract-mode {
    z-index: 9999;
}

#attract-1 {
    width: 100vh;
    height: 100vw;
    background-image: linear-gradient(144deg,#AF40FF, #0062eb 50%, #5B42F3);
    background-size: 200% 200%;
    animation: rotateGradient 3s linear infinite;
}

#attract-1 h1 {
    color: white;
    font-size: 150px;
    margin: 0;
}

#attract-1 h1 span{
    font-size: 200px;
}

#attract-1 h2 {
    color: white;
    font-size: 30px;
    margin: 0px;
}

#attract-1 > img {
    width : 65%;
    height: auto; /*to preserve the aspect ratio of the image*/
    min-width: 650px;
}

@keyframes rotateGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
